<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:replace="~{layout :: nav}"></nav>
<main>
<h1>Login</h1>

<div th:if="${param.error}" style="color:red">Invalid username or password.</div>
<div th:if="${param.logout}" style="color:green">You have been logged out.</div>

<form method="post" th:action="@{/login}">
    <label>Username: <input type="text" name="username"/></label><br/>
    <label>Password: <input type="password" name="password"/></label><br/>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<a th:href="@{/register}">Don't have an account? Register</a>
</main>
</body>
</html>